.footer-divider-container, .footer-design, .footer-copyright, .footer, .contact-form, .product-title, .menu-item > a, .menu, .menu-container, .blanket, .top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu, .menu-container {
  flex-direction: row;
}

.footer, .contact-form, .review-card, .menu-item > a, .blanket {
  flex-direction: column;
}

.contact-form {
  padding: 10px;
}

:root {
  --main: #000;
}

::-webkit-scrollbar {
  width: 15px;
  /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
  /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: #3a3a3a;
  /* color of the scroll thumb */
}

html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: var(--main);
}

h1, h2, h3, h4, h5, p {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

a {
  color: white;
  cursor: pointer;
}

h1 > a {
  text-decoration: none;
}

.body {
  display: block;
  margin: auto;
  max-width: 1280px;
}

.back-img {
  position: fixed;
  width: 1280px;
  top: 0;
}

.top {
  background-image: url("images/front2.JPG");
  height: 1024px;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 1280px;
  background-color: black;
  max-width: 1280px;
}

.blanket {
  background-color: rgba(0, 0, 0, 0.6);
  height: 200px;
  width: 550px;
  border-top: solid;
  border-bottom: solid;
  border-color: white;
  border-width: 1px;
}
.blanket p {
  font-size: 1.3em;
  font-style: italic;
  font-weight: 100;
  margin-top: -10px;
}

.top-img {
  height: 50%;
}

.menu-container {
  background-color: black;
  width: 1280px;
  position: fixed;
  height: 60px;
}

.menu {
  height: 60px;
  max-width: 1280px;
}
.menu-item {
  height: 100%;
  color: white;
  margin: 20px;
}
.menu-item-separator {
  height: 30px;
  width: 1px;
  background-color: white;
}
.menu-item > a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  text-decoration: none;
  color: white;
  transition-duration: 0.05s;
  padding-top: 20px;
  padding-bottom: 20px;
}
.menu-item > a > .link-underline {
  position: relative;
  align-self: start;
  top: 4px;
}

.link-underline {
  height: 2px;
  width: 0;
  background-color: white;
  transition-duration: 0.2s;
}

a:hover > .link-underline {
  width: 100%;
  transition-duration: 0.2s;
}

.mobile-menu-button {
  visibility: hidden;
  color: white;
  position: fixed;
  width: 75px;
  height: 60px;
  top: 42px;
  left: 40px;
}
.mobile-menu-button-background {
  visibility: hidden;
  background-color: var(--main);
  position: fixed;
  height: 150px;
  width: 100%;
}

.id {
  opacity: 1;
  height: 60px;
}

.up-button {
  position: fixed;
  width: 65px;
  height: 65px;
  bottom: 30px;
  transform: translateX(-150%);
  cursor: pointer;
  transition-duration: 0.5s;
  border-radius: 50%;
}

.button-hide {
  transform: translate(-150%, 100px);
  transition-duration: 0.5s;
}

.arrows-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1280px;
}

.down-arrow {
  cursor: pointer;
  position: fixed;
  width: 65px;
  height: 65px;
  transform: translateX(-50%);
  bottom: 15px;
  border-radius: 50%;
  transition-duration: 1s;
  -webkit-animation: bounce 2s infinite;
}
.down-arrow-hidden {
  transform: translate(-50%, 120px);
  transition-duration: 1s;
}

@-webkit-keyframes bounce {
  0% {
    bottom: 15px;
  }
  50% {
    bottom: 22px;
  }
  100% {
    bottom: 15px;
  }
}
.product {
  background-color: var(--main);
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.product-title {
  background-color: var(--main);
  padding: 10px;
}
.product-image {
  background-color: var(--main);
  width: 800px;
  border-radius: 5px;
}
.product-background {
  background-color: var(--main);
  color: white;
  width: 90%;
  height: 500px;
  margin-left: 5%;
  margin-right: 5%;
  font-family: Arial, Helvetica, sans-serif;
}

.review {
  width: 100%;
  height: 300px;
  border-top: solid #252525 5px;
  border-bottom: solid #252525 5px;
  overflow: hidden;
}
.review-card {
  display: inline-block;
  text-align: center;
  height: 100%;
  width: 200px;
  border-left: solid #252525 2px;
  border-right: solid #252525 2px;
  margin-right: -6px;
}
.review-card p {
  font-weight: normal;
}
.review-card:hover > img {
  transform: translate(0, -2px);
  box-shadow: 2px 2px 5px #1a1a1a;
  transition-duration: 0.1s;
}
.review-card-img {
  margin-top: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition-duration: 0.1s;
}

.contact-form {
  background-color: var(--main);
}
.contact-form-title {
  font-size: 3em;
  margin: 10px;
}

.footer {
  background-color: var(--main);
}
.footer-copyright {
  width: 500px;
  padding: 20px;
  color: white;
}
.footer-design {
  width: 500px;
  border-top: none;
  margin-top: -10px;
  padding-bottom: 20px;
  color: white;
  font-size: 70%;
}
.footer-divider {
  background-color: white;
  height: 1px;
  width: 70%;
}
@media only screen and (max-width: 1279px) {
  .top {
    height: 80vw;
    background-size: 100%;
  }

  .menu-container {
    width: 100%;
  }

  .menu {
    width: 100%;
  }

  .arrows-container {
    width: 100%;
  }
}
@media only screen and (hover: none) and (pointer: coarse) {
  .footer-design, .menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p {
    font-size: 2em;
  }

  body {
    width: 100%;
  }

  .top {
    height: 70vh;
    background-repeat: repeat-y;
  }

  .up-button {
    transform: translate(0, 100px);
  }

  .down-arrow {
    bottom: -100px;
  }

  .product {
    flex-direction: column;
  }
  .product-image {
    width: 100%;
  }
  .product-title {
    font-size: 2em;
    margin-left: 20px;
    margin-right: 20px;
  }

  .menu-container {
    background-color: black;
    height: 0;
  }

  .mobile-menu-button {
    visibility: visible;
  }
  .mobile-menu-button-expanded {
    width: 65px;
    left: 45px;
  }
  .mobile-menu-button-background {
    visibility: visible;
    transition-duration: 0.1s;
    border-bottom: 2px solid black;
  }
  .mobile-menu-button-background-expanded {
    height: 480px;
    transition-duration: 0.1s;
  }

  .menu {
    flex-direction: column;
    background-color: transparent;
    width: 50%;
    transform: translate(0, -400px);
    transition-duration: 0.1s;
    height: 100%;
  }
  .menu-expanded {
    transform: translate(0, 180px);
    transition-duration: 0.1s;
  }
  .menu-item {
    width: 100%;
    padding: 30px;
    border-width: 0;
  }
  .menu-item-separator {
    visibility: hidden;
    position: absolute;
  }
  .menu-item > a {
    font-size: 2.5em;
    padding: 30px;
    border-radius: 20px;
  }
  .menu-background-blur {
    box-shadow: 0 2px 10px black;
    border-bottom: none;
  }

  a:hover > .link-underline {
    width: 0;
  }

  .contact {
    font-size: 5em;
  }

  .footer-copyright {
    width: 90%;
    font-size: 2em;
  }
  .footer-design {
    font-size: 1.5em;
    margin-top: 0px;
    padding-bottom: 60px;
  }
  .footer-divider {
    height: 2px;
    width: 50%;
  }
}

/*# sourceMappingURL=main.css.map */
